body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:rgb(241, 221, 128);
    padding:0;
  }
  
  li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
    background: rgb(170, 223, 223);
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  .pageHead {
    font-size: 40px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  .burgerListsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
  }
  .burgerItem {
    box-sizing: border-box;
    width: 200px;
    height: auto;
    border: 1px solid black;
    text-align: center;
    font-size:20px;
    padding:0.5em 0 .5em 0;
    border-radius: 10px;
    background:rgb(209, 147, 136)
  
  }
  .devourButton {
    width: 100px;
    height: 30px;
    font-size:14px;
    border: 1px solid black;
    border-radius: 10px;
    color: lightgrey;
  }
  .burgerList {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .burgerItem.devoured{
    background:rgb(165, 156, 189);
    color:rgb(88, 88, 88);
  
  }
  #ca{
    height:25px;
  }
  button {
    box-sizing: border-box;
  }
  ul{
    padding:0;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height:100px;
  }  